/*
Plugin: jQuery Parallax
Version 1.1.3
Author: Ian Lunn
Twitter: @IanLunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";

/* CSS Document */

body {
    margin: 0;
    min-width: 980px;
    padding: 0;
}

p {
    margin: 0 0 20px 0;
}

p,
ul {
    font-family: "Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size-adjust: 0.488;
    font-weight: 200;
    font-style: normal;
}

img {
    border: 0;
}

#nav {
    list-style: none;
    position: fixed;
    right: 20px;
    z-index: 1000;
}

#intro {
    background: url(../images/firstBG.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 600px;
    margin: 0;
    padding: 0;
}

.story {
    margin: 0 auto;
    min-width: 980px;
    width: 980px;
}

#second {
    background: url(../images/secondBG.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
}

#second .bg {
    background: url(../images/trainers.png) 50% 0 no-repeat fixed;
    height: 1300px;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    width: 900px;
    z-index: 200;
}

#third {
    background: url(../images/thirdBG.jpg) 50% 0 no-repeat fixed;
    color: white;
    height: 1000px;
    padding: 100px 0 0 0;
    z-index: 500;
}

#four {
    height: 500px
}

.float-left {
    float: left;
    margin: 0 0 0 20px;
}

.float-right {
    float: right;
    margin: 0 20px 0 0;
}

.story .float-left,
.story .float-right {
    padding: 100px 0 0 0;
    position: relative;
    width: 350px;
}

#pixels {
    font-family: "Proxima Nova Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: fixed;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    width: 100px;
    height: 40px;
    text-align: right;
    padding: 10px;
    z-index: 9999;
    opacity: 0.8;
}

.white {
    margin-bottom: 20px;
    background-color: #fff;
    width: 200px;
    height: 200px;
    opacity: 0;
}

.red {
    background-color: #f00;
    width: 200px;
    height: 200px;
    opacity: 0;
}

#nav > li {
    margin-bottom: 20px;
    width: 15px;
    height: 15px;
}

#nav > li> a {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../images/dot.png);
}

#nav > li.active> a {
    display: block;
    width: 15px;
    height: 15px;
    background-image: url(../images/dot_red.png);
}